
#advice-feedback{
	#feed-back-text{
		margin-top: 30%;
		font-size: 1.2rem;
		text-align: center;
	}
	#btn-group{
		margin-top: 3rem;
		width: 100%;
		.btn{
			width: 8rem;
			margin-bottom: 1rem;
		}
	}
	.share-hint{
		position: fixed;
		top: 0;
	}
	#share-hint-mask{
		height: 100%;
		width: 100%;
		background-color: black;
		opacity: 0.7;
	}
	#share-hint{
		color: white;
		right: 0;
		width: 200px;
		margin-right: 0px;
		text-align: right;
	}
	#hint-text{
		text-align: left;
	}
	.md-icon{
		// position: absolute;
		// right: 1rem;
		// top: 1rem;
		margin-right: 32px;
		fill: white;
	}
}