@import 'nc-nav_constant';
#nc-nav{
	position: fixed;
	top: 0;
	height: $nav-height;
	line-height: 2rem;
	padding-top: 10px;
	padding-bottom: 10px;
	z-index: 999;
	background-color: #383C3D;
	width: 100%;
	color: white;
	.md-icon{
		fill: white;
	}
	a{
		text-decoration: none;
		color: black;
		&.visted{
			// text-decoration: none;
			color: inherit;
		}
	}
	span{
		vertical-align: top;
		font-size: 1.2rem;
	}
	#back-btn{
		position: relative;
		display: inline-block;
		z-index: 10;
	}
	#title{
		position: absolute;
		left: 0;
		display: inline-block;
		width: 100%;
		text-align: center;
		color: white;
		font-weight: 600;
		font-size: 1.5rem;
		z-index: 1;
	}
}