#comment-result{
	#conclusion{
		margin-top: 35%;
		text-align: center;
		font-size: 1.5rem;
	}
	#btn-group{
		width: 8rem;
		margin: 6rem auto;
		text-align: center;
		.btn{
			margin-bottom: 1rem;
		}
	}
}